$color--primary: #000000;
$color--secondary: #FFFFFF;
$color--grey: #F6F7F8;
$color--dark-grey: #CBD1D8;

$content-width: 1440px;
$outer-width: 1480px;

$font--primary: "Helvetica", "Arial";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@import 'global/mixins';
@import 'global/font';
@import 'global/typography';
@import 'global/form';
@import 'global/normalize';
@import 'global/base';